NEXTAUTH_URL=YOUR_VALUE

GOOGLE_CLIENT_ID=YOUR_VALUE
GOOGLE_CLIENT_SECRET=YOUR_VALUE

DATABASE_URL=YOUR_VALUE

MAILGUN_API_KEY=YOUR_VALUE
EMAIL_SERVER_HOST=YOUR_VALUE
EMAIL_SERVER_PORT=YOUR_VALUE
EMAIL_SERVER_USER=YOUR_VALUE
EMAIL_SERVER_PASSWORD=YOUR_VALUE
EMAIL_FROM=YOUR_VALUE

NEXTAUTH_SECRET=YOUR_VALUE
NEXTAUTH_URL=YOUR_VALUE


NEXT_PUBLIC_STRIPE_PUBLIC_KEY=YOUR_VALUE
NEXT_PUBLIC_STRIPE_WEBHOOK_SECRET=YOUR_VALUE

LEMONSQUEEZY_API_KEY=YOUR_VALUE
LEMON_SQUEEZY_STORE_ID=YOUR_VALUE
LEMONS_SQUEEZY_PRODUCT_ID=YOUR_VALUE
LEMONS_SQUEEZY_SIGNATURE_SECRET=YOUR_VALUE

OPENAI_API_KEY=YOUR_VALUE

PINECONE_API_KEY=YOUR_VALUE
PINECONE_ENVIRONMENT=YOUR_VALUE
PINECONE_INDEX_NAME=YOUR_VALUE

# Modify .env file DATABASE_URL value for Database change
